<form id="realTimeProductsForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" id="formTitle">
  </div>
  <div>
    <div class="form-group">
    <label for="exampleInputEmail1">Description</label>
    <input type="text" class="form-control" id="formDescription">
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Price</label>
    <input type="number" class="form-control" id="formPrice">
  </div>
  <div>
    <div class="form-group">
    <label for="exampleInputEmail1">Thumbnail (example: ./img/nombreImagen.jpg)</label>
    <input type="text" class="form-control" id="formThumbnail">
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Code</label>
    <input type="text" class="form-control" id="formCode">
  </div>
  <div>
    <div class="form-group">
    <label for="exampleInputEmail1">Stock</label>
    <input type="number" class="form-control" id="formStock">
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Category</label>
    <input type="text" class="form-control" id="formCategory">
  </div>

  <button type="submit" class="btn btn-primary">Agregar</button>
</form>
